{# templates/accueil/index.html.twig #}
{% extends 'base/site_base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur le site de vente !</h1>
    <p>Vous êtes :
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            Super administrateur
        {% elseif is_granted('ROLE_ADMIN') %}
            Administrateur
        {% elseif is_granted('ROLE_USER') %}
            Client
        {% else %}
            Visiteur anonyme
        {% endif %}
    </p>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('admin_fixtures_load') }}" 
           style="display: inline-block; padding: 10px 15px; background: #ccc; border: 1px solid #999; text-decoration: none; margin-bottom: 20px;"
           onclick="return confirm('Attention, cela va purger la base et recharger les fixtures. Continuer ?');">
            Recharger les Fixtures
        </a>
    {% endif %}
{% endblock %}
